body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    text-align: center;
}

header {
    background: #222;
    padding: 20px;
}

nav {
    margin: 20px;
}

.tab-button {
    padding: 10px 20px;
    margin: 5px;
    background: #444;
    color: white;
    border: none;
    cursor: pointer;
}

.tab-content {
    display: none;
}

.account-card {
    background-color: #333;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 300px;
    border-radius: 10px;
}

.account-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

#coin-container {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    position: relative;
}

.coin {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url('heads.png');
    transition: transform 1s ease-in-out;
}

#coin-result {
    margin: 10px;
    font-size: 20px;
}

#scoreboard {
    position: relative;
    margin-top: 20px;
}

#scoreboard-image {
    width: 600px;
}

#team-stats {
    font-family: 'Orbitron', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: yellow;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}
