body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
    margin: 0;
}

header {
    background: #222;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    margin: 20px;
}

.tab-button {
    padding: 10px 20px;
    margin: 5px;
    background: #444;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.tab-content {
    display: none;
    padding: 20px;
}

.account-card {
    background-color: #333;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    width: 300px;
}

.account-card img {
    width: 100%;
    border-radius: 10px;
}

#coin-container {
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
    perspective: 1000px;
}

.coin {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url('heads.png');
    transition: transform 1s ease-in-out;
}

#scoreboard {
    position: relative;
    margin-top: 20px;
}

#scoreboard-image {
    width: 600px;
    max-width: 100%;
}

#team-stats {
    font-family: 'Impact', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: yellow;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
